---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/cincinnatirb/cincyrb/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '42'
      x-ratelimit-reset:
      - '1434290184'
      last-modified:
      - Wed, 17 Dec 2014 03:08:18 GMT
      etag:
      - ! '"f1ee8fb3268aa36ac8f3cc7351478086"'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: US-ASCII
      string: ! '[{"login":"st23am","id":3796,"avatar_url":"https://avatars.githubusercontent.com/u/3796?v=3","gravatar_id":"","url":"https://api.github.com/users/st23am","html_url":"https://github.com/st23am","followers_url":"https://api.github.com/users/st23am/followers","following_url":"https://api.github.com/users/st23am/following{/other_user}","gists_url":"https://api.github.com/users/st23am/gists{/gist_id}","starred_url":"https://api.github.com/users/st23am/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/st23am/subscriptions","organizations_url":"https://api.github.com/users/st23am/orgs","repos_url":"https://api.github.com/users/st23am/repos","events_url":"https://api.github.com/users/st23am/events{/privacy}","received_events_url":"https://api.github.com/users/st23am/received_events","type":"User","site_admin":false,"contributions":70},{"login":"JeetKunDoug","id":682821,"avatar_url":"https://avatars.githubusercontent.com/u/682821?v=3","gravatar_id":"","url":"https://api.github.com/users/JeetKunDoug","html_url":"https://github.com/JeetKunDoug","followers_url":"https://api.github.com/users/JeetKunDoug/followers","following_url":"https://api.github.com/users/JeetKunDoug/following{/other_user}","gists_url":"https://api.github.com/users/JeetKunDoug/gists{/gist_id}","starred_url":"https://api.github.com/users/JeetKunDoug/starred[...]
