%section#contributors
  .container.row
    .twelve.columns
      %h1 Top Contributors
      - @contributors.each do |contributor|
        %div
          =image_tag contributor["avatar_url"], class: "avatar"
          %h4= contributor['login']
          =link_to "Github Profile", contributor['html_url']
          %p= "Contributions: #{contributor['contributions']}"
